ROOT_PROJECT="TO_CHANGE"

ENV=local

CONFIG=${ROOT_PROJECT}/config/env/${ENV}
SRC=${ROOT_PROJECT}/src
TESTS=${SRC}/tests
BUILDS=${ROOT_PROJECT}/.build

# Database
POSTGRES_DB=paperrag
POSTGRES_USER=paperrag
POSTGRES_PASSWORD=paperrag
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1

# Services
OLLAMA_URL=http://localhost:11434